html,
body {
  padding: 0;
  margin: 0;
}


.chatOuterContainer {
  background-image: url("https://source.unsplash.com/1600x900/?sky");
  height: 100vh;
}
.chatInnerContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


.toolBar {
  justify-content: space-between;
  margin: 10px;
}

.chatScreen {
  height: 70vh;
  width: 50vh;
  display: flex;
}
.chatScreenPaper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .appbar {
    display: none;
  }
  .chatScreen {
    width: 100%;
    height: 100%;
  }
}
